@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  margin-left: 40px;
  width: 20rem;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menuItem {
  list-style: none;
  margin-left: 40px;
}

.menuItem a {
  text-decoration: none;
  color: #5e3607;
}

.topContent img {
  margin-top: 50px;
  width: 100%;
}

.topContentText {
  position: relative;
  margin-top: -16rem;
  margin-left: 15rem;
  width: 200px;
  font-size: 10pt;
  color: #5e3607;
}

.topContentBtn {
  background-color: #5e3607;
  color: #e6d4a3;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid;
  margin-left: 6rem;
  cursor: pointer;
}

.midContent {
  margin-top: 8rem;
  margin-left: 20px;
  /* position: relative; */
  width: 22rem;
  font-size: 10pt;
  color: #5e3607;
} 

.midContentBtn {
  background-color: #5e3607;
  color: #e6d4a3;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid;
  margin-top: 8px;
  margin-left: 10rem;
  cursor: pointer;
}

.ourStore {
  margin-top: 8rem;
  margin-left: 15rem;
  width: 200px;
  font-size: 10pt;
  color: #5e3607;
}